<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.inaf.android" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="INAF"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FeedListActivity"
            android:label="@string/title_feed_list">
        </activity>

        <activity
            android:name=".FeedDetailActivity"
            android:label="@string/title_feed_detail"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:parentActivityName=".FeedListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FeedListActivity" />
        </activity>

        <activity
            android:name=".VideoGalleryActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:label="@string/title_section4">
        </activity>

        <activity
            android:name=".VideoDetailActivity"
            android:label="@string/title_video_detail"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:parentActivityName=".VideoGalleryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VideoGalleryActivity" />
        </activity>
    </application>

</manifest>
